.about {
  h2 {
    @include font-title(30px, 30px, $mine-shaft);
    margin-bottom: 51px;
    padding-top: 150px;
    padding-left: 16px;
    letter-spacing: -0.005em;
  }

  &__list {
    @include list-reset;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 14px;
    padding-right: 9px;
    padding-bottom: 131px;
  }

  &__item {
    width: 263px;
    margin-bottom: 20px;

    span {
      @include font-title(28px, 38px, $bright-turquoise);
      display: block;
      font-style: 700px;
      margin-bottom: 15px;
    }

    p {
      @include font-main(22px, 34px, $black);
      letter-spacing: -0.005em;
    }
  }
}

@media (max-width: $viewport--lg) {
  .about {
    h2 {
      margin-bottom: 30px;
      padding-left: 2px;
      padding-top: 6px;
      font-size: 24px;
      line-height: 41px;
    }

    &__list {
      padding-left: 45px;
      padding-right: 42px;
      padding-bottom: 31px;
      letter-spacing: -0.005em;
    }

    &__item {
      margin: 0 auto;
      margin-bottom: 39px;

      span {
        margin-bottom: 17px;
        letter-spacing: -1.3px;
      }
    }
  }
}

@media (max-width: $viewport--md) {
  .about {
    h2 {
      margin-bottom: 0;
      padding-top: 9px;
      padding-left: 0;
      font-size: 24px;
      line-height: 41px;
    }

    &__list {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 68px;
    }

    &__item {
      margin-top: 29px;
      margin-bottom: 12px;

      p {
        font-size: 18px;
        letter-spacing: -0.5px;
      }
    }
  }
}
