.about {
  h2 {
    @include font-title(30px, 30px, $mine-shaft);
    margin-bottom: 50px;
    padding-top: 134px;
    padding-left: 26px;
    letter-spacing: -0.005em;
  }

  &__list {
    @include list-reset;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-bottom: 150px;
  }

  &__item {
    width: 263px;

    h3 {
      @include font-title(28px, 38px, $bright-turquoise);
      font-style: 700px;
      margin-bottom: 15px;
    }

    p {
      @include font-main(22px, 34px, $black);
      letter-spacing: -0.005em;
    }
  }
}

@media (max-width: $viewport--lg) {
  .about {
    h2 {
      margin-bottom: 30px;
      padding-left: 16px;
      padding-top: 31px;
      font-size: 24px;
      line-height: 41px;
    }

    &__list {
      padding-left: 58px;
      padding-right: 35px;
      letter-spacing: -0.005em;
    }

    &__item {
      margin-bottom: 39px;

      h3 {
        margin-bottom: 17px;
        letter-spacing: -1.3px;
      }
    }
  }
}

@media (max-width: $viewport--md) {
  .about {
    h2 {
      margin-bottom: 0;
      padding-top: 35px;
      padding-left: 0;
      font-size: 24px;
      line-height: 41px;
    }

    &__list {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
    }

    &__item {
      margin-top: 29px;
      margin-bottom: 12px;

      p {
        font-size: 18px;
        letter-spacing: -0.5px;
      }
    }
  }
}
