.button {
  position: relative;

  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-weight: 600;
  line-height: normal;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;

  &__form {
    @include font-title(15px, 14px);
    width: 327px;
    padding: 20px 43px;
    padding-right: 43px;
    border-radius: 6px;
    background-color: $bright-turquoise;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
      color: $color-opacity--black-1;
    }
  }

  &__header {
    display: none;
  }
}

@media (max-width: $viewport--lg) {
  .button {
    &__header {
      display: block;
      width: 50px;
      height: 50px;
      margin-right: -35px;

      outline: 1px solid red;

      &--open {
        background-color: $bright-turquoise;
        &::before {
          @include pseudo;
          top: 10px;
          left: 10px;
          width: 30px;
          height: 30px;
          background-image: url("../img/icon-menu-open.svg");
          background-repeat: no-repeat;
          background-size: 20px 14px;
          background-position: center;
        }
      }

      &--close {
        background-color: transparent;
        &::before {
          @include pseudo;
          // top: 10px;
          // left: 10px;
          width: 22px;
          height: 23px;
          background-color: transparent;
          background-image: url("../img/icon-menu-close.svg");
          background-repeat: no-repeat;
          background-size: 22px 23px;
          background-position: center;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &--hide {
        display: none;
      }

      &--show {
        display: block;
      }
    }

    &__form {
      line-height: 21px;
    }
  }
}
