.intro {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;

  &__description {
    position: relative;
    width: 381px;

    h2 {
      @include font-title(46px, 64px, $white);
      text-align: left;
      font-weight: 700;
      padding-bottom: 24px;
      padding-top: 51px;
    }

    p {
      @include font-title(20px, 32px, $color-opacity--white-2);
      text-align: left;
      font-weight: 300;
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__logo-link {
    display: block;
    text-align: left;

    img {
      width: 68px;
      height: 20px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    transition: color $transition;

    p {
      @include font-title(17px, 28px, $white);
      width: 327px;
      padding-top: 6px;
      padding-bottom: 20px;
    }

    input {
      @include font-main(15px, 24px, $black);
      width: 327px;
      margin-bottom: 20px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 29px;
      text-align: left;
      border: 1px solid $ghost;
      border-radius: 4px;
      transition: border $transition, box-shadow $transition, opacity $transition;

      &:hover,
      &:focus {
        border: 1px solid $bright-turquoise;
        box-shadow: 0 0 2px 2px $bright-turquoise;
      }

      &:active {
        border: 1px solid $color-opacity--bright-turquoise-1;
        box-shadow: 0 0 2px 2px $color-opacity--bright-turquoise-1;
      }

      &::placeholder {
        color: $color-opacity--cod-gray-1;
      }

      &:-ms-input-placeholder {
        color: $color-opacity--cod-gray-1;
      }
    }
  }
}

@media (max-width: $viewport--lg) {
  .intro {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    &__description {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding-top: 84px;
      padding-bottom: 78px;

      background-image: url("../img/bike-tablet@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $black;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bike-tablet@2x.jpg");
      }

      h2 {
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 0;
      }

      p {
        width: 435px;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
      }
    }

    &__logo {
      left: 22px;
      top: 22px;
    }

    form {
      padding-top: 64px;
      padding-bottom: 39px;

      p {
        width: 324px;
        margin: 0 auto;
        padding-bottom: 30px;
        font-size: 18px;
        color: $black;
      }

      label {
        width: 321px;
      }

      input {
        width: 321px;
        padding-top: 12px;
        padding-bottom: 11px;
        padding-left: 21px;
        padding-right: 57px;
      }
    }
  }
}

@media (max-width: $viewport--md) {
  .intro {
    &__description {
      padding-top: 69px;
      padding-bottom: 70px;
      background-image: url("../img/bike-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bike-mobile@2x.jpg");
      }

      h2 {
        width: 288px;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      p {
        width: 288px;
      }
    }

    form {
      padding-bottom: 36px;

      p {
        width: 288px;
        padding-bottom: 22px;
      }

      label {
        width: 288px;
      }

      input {
        width: 288px;
        padding-top: 10px;
        padding-left: 26px;
        padding-right: 19px;
      }
    }
  }
}
