.site-list {
  @include list-reset;
  position: relative;
  display: flex;
  padding: 0 27px;
  justify-content: space-between;
  border-bottom: 1px solid $color-opacity--white-3;
}

.site-list__item {
  margin-bottom: 9px;

  &-link {
    @include font-main(16px, 32px, $color-opacity--white-1);

    &:hover,
    &:focus {
      color: $color-opacity--white-3;
    }

    &:active {
      color: $bright-turquoise;
    }
  }
}

@media (max-width: $viewport--lg) {
  .site-list {
    flex-direction: column;
    width: calc(100% + 70px);
    padding-top: 100px;
    left: -35px;
  }

  .site-list__item {
    background-color: $wild-sand;
    margin-bottom: 30px;

    &-link {
      @include font-main(20px, 28px, $abbey);
      display: block;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 35px;
      text-align: left;
    }
  }
}
