.video-bike {
  margin-bottom: 30px;
  background: linear-gradient(to bottom, $bg-woodsmoke 82%, $bg-white 18%);

  &__wrapper {
    padding-bottom: 50px;

    h2 {
      margin-left: -7px;
      padding-top: 120px;
      padding-bottom: 20px;
      font-weight: 600;
      color: $white;
      letter-spacing: -0.08px;
    }

    p {
      width: 340px;
      margin: 0 auto;
      padding-bottom: 56px;
      font-size: 16px;
      font-weight: 300;
      color: $color-opacity--white-1;
      letter-spacing: -0.08px;
    }
  }

  &__image-wrapper {
    position: relative;

    &--tablet {
      display: none;
    }

    &--mobile {
      display: none;
    }
  }

  &__play {
    position: absolute;
    display: block;
    top: 229px;
    left: 432px;
    cursor: pointer;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.3;
    }
  }
}

@media (max-width: $viewport--lg) {
  .video-bike {
    margin-bottom: 10px;
    background: linear-gradient(to bottom, $bg-woodsmoke 75%, $bg-white 25%);

    &__wrapper {
      h2 {
        padding-top: 70px;
        font-size: 24px;
      }

      p {
        width: 429px;
        padding-bottom: 40px;
      }
    }

    &__image-wrapper {
      &--desktop {
        display: none;
      }

      &--tablet {
        display: block;
      }

      &--mobile {
        display: none;
      }

      img {
        width: 503px;
        height: 282px;
      }
    }

    &__play {
      top: 96px;
      left: 239px;

      &-icon {
        width: 90px;
        height: 90px;
      }
    }
  }

  @media (max-width: $viewport--md) {
    .video-bike {
      background: linear-gradient(to bottom, $bg-woodsmoke 79%, $bg-white 21%);

      &__wrapper {
        h2 {
          margin-left: 0;
          padding-top: 78px;
          padding-bottom: 15px;
        }

        p {
          width: 288px;
          padding-bottom: 53px;
        }
      }

      &__image-wrapper {
        &--desctop {
          display: none;
        }

        &--tablet {
          display: none;
        }

        &--mobile {
          display: block;
        }

        img {
          width: 288px;
          height: 162px;
        }
      }

      &__play {
        top: 48px;
        left: 112px;

        &-icon {
          width: 65px;
          height: 65px;
        }
      }
    }
  }
}
