.wrapper {
  position: relative;
  height: 100%;
  background-image: url("../img/bike-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $black;
}
