.wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url("../img/bike-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: $black;
  display: flex;
  flex-direction: column;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bike-desktop@2x.jpg");
  }
}

@media (max-width: $viewport--lg) {
  .wrapper {
    min-height: auto;
    background-image: none;
    background-color: $white;
  }
}
