.wrapper {
  position: relative;
  width: 1440px;
  min-height: 825px;
  background-image: url("../img/bike-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 319px 390px;
  background-color: yellowgreen;
  background-position: left top;
}
