.container {
  width: 100%;
  max-width: 1266px;
  margin: 0 auto;
  padding: 0 50px;
  outline: 1px solid red;

  @media (max-width: $viewport--lg) {
    padding: 0 35px;
    outline: 1px solid green;
  }

  @media (max-width: $viewport--md) {
    padding: 0 16px;
    outline: 1px sioled yellow;
  }

  @media (max-width: $viewport--sm) {
    background-color: rgb(218, 28, 91);
  }
}

.header-container {
  width: 100%;
  max-width: 1023px;
  margin: 0 auto;
  padding: 0 57px;

  @media (max-width: $viewport--lg) {
    padding: 0;
  }

  @media (max-width: $viewport--sm) {
    width: 320px;
  }
}
