*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: $bg-white;
}

img,
video {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}

input,
textarea {
  &::placeholder {
    opacity: 1;
  }
}

input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  appearance: none;
}
