@mixin font-main($font-size, $line-height, $color: $black) {
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font;
  text-align: center;
  color: $color;
  font-weight: 400;
}

@mixin font-title($font-size, $line-height, $color: $black) {
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font;
  text-align: center;
  color: $color;
  font-weight: 600;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin button-reset {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin reset {
  margin: 0;
  padding: 0;
}
