$font: "OpenSans", "Arial", sans-serif;
$black: #000000;
$black-50: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$bright-turquoise: #0ad9c6;
$cod-gray: #1c1c1c;
$mine-shaft: #1f1f1f;
